<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mirzaadr.pakanku">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Informasi"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".BuatPakan"
            android:label="@string/title_activity_buatpakan"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PilihBahan"
            android:label="@string/title_activity_buatpakan"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ResepRansum"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".BukaArtikel"/>
        <activity
            android:name=".CekUntung"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MasukkanHarga"/>
        <activity
            android:name=".ResepRansumRecord"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>