<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mirzaadr.pakanku">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.Informasi"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.BuatPakan"
            android:label="@string/title_activity_buatpakan"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".Activity.PilihBahan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.ResepRansum"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.BukaArtikel"></activity>
        <activity
            android:name=".Activity.CekUntung"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".Activity.MasukkanHarga"></activity>
        <activity
            android:name=".Activity.ResepRansumRecord"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>